/* .logoLink{
    width: 80px;
    height:25px;
    text-align:center;
    border: 1px solid black;
    float:left;
} */

/*헤더 틀*/
.loginbutton{
    margin-top:660px;
    width:120px;
    margin-left:200px;
}
.header-container{
    margin-top:5px;
    width:100%;
    height:80px;
    border-radius:0.5rem;
    border-bottom: 3px solid rgb(0, 84, 121);
    background-color: rgb(236,236,236);

  
  
}
.header-inside{
    display:inline-block;
    justify-content:center;
    width: 500px;
    margin-top:30px;
    font-weight:bold;
    margin-left: 450px;
}

/*로고이미지*/
.intro-logo{
    width:80px;
    height:80px;
}

.logoLink{
    width:170px;
    float:left;
}
/*헤더*/
.login, .show,.Timetable,.Mypage{
    float:right;
    margin-top:2px;
   
    width:auto;
    height:20px;
    text-align:center;
    float:right;
    
}