.backgrounds {
    background-image: url('../img/hufs3.jpg');
    width:1920px;
    height:1084px;
    background-repeat: no-repeat;
    
}
.form1{
    float:left;
    margin-top:555px;
    margin-left:350px;

}
.form2{
    float:left;
    margin-top:555px;
    margin-left: 40px;
}

.id{
    
    width:500px;
    height: 60px;  
}



.password{
     
    width:500px;
    height: 60px;
}


.loginbutton{
    float:right;
    margin-right:700px;
    width: 60px;
    height:150px;
  
}


